
    <table class="fl-table" *ngIf="repartidorDetalle != null">
        <tbody>
        <tr>
            <th>DNI</th>
            <td>
                {{repartidorDetalle.dni}}
            </td>
        </tr>
        <tr>
            <th>NOMBRE</th>
            <td>
                {{repartidorDetalle.nombre}}
            </td>
        </tr>
        <tr>
            <th>EDAD</th>
            <td>
                {{repartidorDetalle.edad}}
            </td>
        </tr>
        <tr>
            <th>CAPACIDAD DE TRANSPORTE</th>
            <td>
                {{repartidorDetalle.capacidadTransporte}}
            </td>
        </tr>
        <tr>
            <th>PAIS</th>
            <td>
                {{repartidorDetalle.pais}}
            </td>
        </tr>
        <tr>
            <th>UNIDAD PROPIA</th>
            <td>
                {{repartidorDetalle.unidadPropia}}
            </td>
        </tr>
        </tbody>
        </table>